@using Ricky.Infrastructure.Core.ObjectContainer
@using VnStyle.Services.Business.Settings
@using VnStyle.Web.Infrastructure.Helpers
@{
    var resourceService = EngineContext.Current.Resolve<VnStyle.Services.Business.IResourceService>();

    var languages = resourceService.GetLanguages().Select(p => new { p.Name, p.Code, p.IsDefault, Flag = string.Format("~/Content/images/flag/{0}.png", p.Code) }).ToList();

    var settingSetting = EngineContext.Current.Resolve<VnStyle.Services.Business.ISettingService>();
    var appSetting = settingSetting.LoadConfiguration<AppSetting>();

}

<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@appSetting.ApplicationName | @ViewBag.Title</title>
    @RenderSection("metaTags", false)
    <link href="@Url.HostContent("~/Content/css/fluid-gallery.css")" rel="stylesheet" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/Scripts/libs/OwlCarousel2-2.2.1/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Scripts/libs/OwlCarousel2-2.2.1/assets/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/theme2/screen.css" rel="stylesheet" />
    <link href="@Url.HostContent("~/Content/css/fluid-gallery.css")" rel="stylesheet" />
    <link href="~/Content/css/images.css" rel="stylesheet" />
    <link href="~/Content/css/hovercard.css" rel="stylesheet" />
</head>
<body id="front-page">

    <div id="page">
        <header class="style-2">
            <div class="top-bar hidden-xs">
                <div class="container">
                    <ul class="top-left-menu top-bar-menu">
                        <li class="">
                            <a target="_blank" href="#">Liên hệ: @appSetting.HomepageContact1 | @appSetting.HomepageContact2</a>
                        </li>
                        <li class="">
                            <a target="_blank" href="@appSetting.Facebook"> <i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="">
                            <a target="_blank" href="@appSetting.Youtube"> <i class="fa fa-youtube"></i></a>
                        </li>
                        <li class="">
                            <a target="_blank" href="@appSetting.Instagram"> <i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>

                    <ul class="top-right-menu top-bar-menu">                       
                        @foreach (var language in languages)
                        {
                            <li>
                                <a href="@Url.Language(language.Code)"><img class="flag-english" src="@Url.Content(language.Flag)?h=20" alt="@language.Name" /> @language.Name </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="white-large-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-left">
                                <a href="@Url.HomePage()" rel="@appSetting.ApplicationName"" class="brand">
                                    <span class="img-logo">
                                        <img width="278" height="48" src="@Url.HostContent("~/Content/images/logo-big-dark.png")" class="nlg-logo-img" alt="VNStyle Tattoo &amp; Piercing">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="large-container">
                <div class="row">
                    <div class="col-xs-12">
                        <span class="mobile-nav-toggle no-select"></span>                       
                        @Html.Action("Menu", "Home")
                        <form class="global-search-form" method="get" action="@Url.HostAction("Result","Home")">
                            <span class="form-toggle">
                                <i class="fa fa-search"></i>
                            </span>
                            <input type="text" class="search-input check-value" name="search" placeholder="Search">
                            <button class="search-submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <div style="height: 1500px">
                @RenderBody()
            </div>
        </div>
        
            @Html.Action("Footer", "Home")
        
    </div>


    <!-- Scripts -->
    <script src="http://teslathemes.com/demo/html/epilog/js/jquery.js"></script>
    <script src="http://teslathemes.com/demo/html/epilog/js/flickity.js"></script>
    <script src="http://teslathemes.com/demo/html/epilog/js/owl.js"></script>
    <script src="http://teslathemes.com/demo/html/epilog/js/imagesloaded.js"></script>
    <script src="http://teslathemes.com/demo/html/epilog/js/isotope.js"></script>
    <script src="http://teslathemes.com/demo/html/epilog/js/options.js"></script>
    <script src="~/Scripts/libs/OwlCarousel2-2.2.1/owl.carousel.min.js"></script>
    <script src="~/Content/js/sticky.min.js"></script>
    <script src="~/Content/js/sticky.compile.js"></script>    
    <script src="~/Content/js/baguetteBox.js" async></script>
    <script src="~/Content/js/highlight.min.js" async></script>

    @RenderSection("bottom", false)
    
</body>




</html>