@using Ricky.Infrastructure.Core.ObjectContainer
@using VnStyle.Services.Business.Settings
@using VnStyle.Web.Infrastructure.Helpers
@{
    var resourceService = EngineContext.Current.Resolve<VnStyle.Services.Business.IResourceService>();

    var languages = resourceService.GetLanguages().Select(p => new { p.Name, p.Code, p.IsDefault, Flag = string.Format("~/Content/images/flag/{0}.png", p.Code) }).ToList();

    var settingSetting = EngineContext.Current.Resolve<VnStyle.Services.Business.ISettingService>();
    var appSetting = settingSetting.LoadConfiguration<AppSetting>();

}

<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@appSetting.ApplicationName | @ViewBag.Title</title>
    @RenderSection("metaTags", false)
    <link href="@Url.HostContent("~/Content/css/fluid-gallery.css")" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="@Url.HostContent("~/logo.ico")" />
    <link href="@Url.HostContent("~/Content/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.HostContent("~/Content/css/font-awesome.min.css")" rel="stylesheet" />
    <script src="@Url.HostContent("~/Scripts/jquery-1.10.2.min.js")"></script>    
    <link href="@Url.HostContent("~/Scripts/libs/OwlCarousel2-2.2.1/assets/owl.carousel.min.css")" rel="stylesheet" />
    <link href="@Url.HostContent("~/Scripts/libs/OwlCarousel2-2.2.1/assets/owl.theme.default.min.css")" rel="stylesheet" />
    <link href="@Url.HostContent("~/Content/theme2/screen.css")" rel="stylesheet" />
    <link href="@Url.HostContent("~/Content/css/fluid-gallery.css")" rel="stylesheet" />
    <link href="@Url.HostContent("~/Content/css/images.css")" rel="stylesheet" />
    <link href="@Url.HostContent("~/Content/css/hovercard.css")" rel="stylesheet" />
    <link href="@Url.HostContent("~/Content/css/baguetteBox.css")" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400,400italic,700,700italic,800' rel='stylesheet' type='text/css'>
    
</head>
<body id="front-page">

    <div id="page">
        <header class="style-2">
            <div class="top-bar hidden-xs">
                <div class="container">
                    <ul class="top-left-menu top-bar-menu">
                        <li class="">
                            <a target="_blank" href="#">Liên hệ: @appSetting.HomepageContact2 | @appSetting.HomepageContact1</a>
                        </li>
                        <li class="">
                            <a target="_blank" href="@appSetting.Facebook"> <i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="">
                            <a target="_blank" href="@appSetting.Youtube"> <i class="fa fa-youtube"></i></a>
                        </li>
                        <li class="">
                            <a target="_blank" href="@appSetting.Instagram"> <i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>

                    <ul class="top-right-menu top-bar-menu">
                        @foreach (var language in languages)
                        {
                            <li>
                                <a href="@Url.Language(language.Code)"><img class="flag-english" src="@Url.Content(language.Flag)?h=20" alt="@language.Name" /> @language.Name </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="white-large-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-left">
                                <a href="@Url.BaseUrl()" rel="VNStyle Tattoo &amp; Piercing" class="brand">
                                    <span class="img-logo">
                                        <img width="278" height="48" src="@Url.HostContent("~/Content/images/logo-big-dark.png")" class="nlg-logo-img" alt="VNStyle Tattoo &amp; Piercing">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="large-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="mobile-nav-toggle no-select"></span>
                            @Html.Action("Menu", "Home")
                            <form class="global-search-form" method="get" action="@Url.HostAction("Result","Home")">
                                <span class="form-toggle">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input type="text" class="search-input check-value" name="search" placeholder="Search">
                                <button class="search-submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <div style="height: 1500px">
                @RenderBody()
            </div>
        </div>

        @Html.Action("Footer", "Home")

    </div>


    <!-- Scripts -->
    <script src="@Url.HostContent("~/Content/js/jquery.js")"></script>
    <script src="@Url.HostContent("~/Content/js/flickity.js")"></script>
    <script src="@Url.HostContent("~/Content/js/imagesloaded.js")"></script>
    <script src="@Url.HostContent("~/Content/js/isotope.js")"></script>
    <script src="@Url.HostContent("~/Content/js/options.js")"></script>
    <script src="@Url.HostContent("~/Scripts/libs/OwlCarousel2-2.2.1/owl.carousel.min.js")"></script>
    @*<script src="@Url.HostContent("~/Content/js/sticky.min.js")"></script>
    <script src="@Url.HostContent("~/Content/js/sticky.compile.js")"></script>*@
    <script src="@Url.HostContent("~/Content/js/baguetteBox.js")" async></script>
    <script src="@Url.HostContent("~/Content/js/highlight.min.js")" async></script>
    @RenderSection("bottom", false)
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107693820-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-107693820-1');
    </script>

</body>




</html>