@using Ricky.Infrastructure.Core.ObjectContainer
@using VnStyle.Services.Business.Settings
@using VnStyle.Web.Infrastructure.Helpers
@{
    var resourceService = EngineContext.Current.Resolve<VnStyle.Services.Business.IResourceService>();

    var languages = resourceService.GetLanguages().Select(p => new { p.Name, p.Code, p.IsDefault, Flag = $"~/Content/images/flag/{p.Code}.png" }).ToList();

    var settingSetting = EngineContext.Current.Resolve<VnStyle.Services.Business.ISettingService>();
    var appSetting = settingSetting.LoadConfiguration<AppSetting>();

}

<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/ef542.css" media="all">
    <title>@appSetting.ApplicationName | @ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/css/font-awesome.css">

    <link href="@Url.HostContent("~/Content/css/woocommerce.css")" rel="stylesheet" />
    <link href="~/Content/css/woocommerce-smallscreen.css" rel="stylesheet" />

    <link href="~/Content/css/bootstrap-flex.min.css" rel="stylesheet" />

    <script type="text/javascript" src="~/Content/js/118e1.js"></script>
    <script type="text/javascript" src="~/Content/js/c4be6.js"></script>
    <script src="~/Content/js/owl.carousel.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/css/owl.theme.css" rel="stylesheet" />
    <link href="~/Content/css/owl.transitions.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" id="gravatar-card-css" href="~/Content/css/hovercard.css">
    <link rel="stylesheet" type="text/css" id="gravatar-card-services-css" href="~/Content/css/services.css">
    <link rel="stylesheet" type="text/css" id="fit-vids-style" href="~/Content/css/video.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/fonts.css">
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    @RenderSection("metatags", false)
</head>

<body class="home-page home page-template page-template-page-sections page-template-page-sections-php page page-id-234 nlg-body nlg-header-style-a nlg-has-top-bar nlg-header-sticky js">

    <header class="nlg-header" style="top: -165px;">
        <div class="nlg-header-wrap">
            <div class="nlg-top-bar nlg-top-bar-dark">
                <div class="container">
                    <ul id="menu-top-bar-menu" class="nlg-top-left-menu nlg-top-bar-menu">
                        <li id="menu-item-278" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-278">
                            <a target="_blank" href="#">Liên hệ: @appSetting.HomepageContact </a>

                        </li>
                        <li id="menu-item-281" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-281">
                            <a target="_blank" href="@appSetting.Facebook"><i class="fa fa-facebook"></i></a>
                        </li>
                        @*<li id="menu-item-282" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-282">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>*@
                        <li id="menu-item-283" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-283">
                            <a target="_blank" href="@appSetting.Youtube"><i class="fa fa-youtube"></i></a>
                        </li>
                        <li id="menu-item-284" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-284">
                            <a target="_blank" href="@appSetting.Instagram"><i class="fa fa-instagram"></i ></a>
                        </li>
                    </ul>
                    <ul id="menu-top-bar-menu-2" class="nlg-top-right-menu nlg-top-bar-menu">
                        @foreach (var language in languages)
                        {
                            <li>
                                <a href="@Url.Language(language.Code)"><img class="flag-english" src="@Url.Content(language.Flag)" alt="@language.Name" /> @language.Name </a>
                            </li>
                        }
                    </ul>
                </div>
                <!-- .container -->

            </div>
            <!-- .nlg-top-bar -->

            <div class="nlg-header-alt nlg-header-alt-light nlg-header-alt-balance">

                <div class="container">
                    <div class="nlg-header-brand">

                        <a href="@Url.HomePage()" rel="@appSetting.ApplicationName">
                            <span class="nlg-logo nlg-main-logo">
                                <img width="278" height="48" src="~/Content/images/logo-big-dark.png" class="nlg-logo-img" alt="@appSetting.ApplicationName">
                            </span>
                        </a>
                    </div>
                    <!-- .nlg-header-brand -->
                    
                    @*<div class="nlg-header-bn-wrap nlg-header-bn-lg">
                        <a href="#">
                            <img src="~/Content/images/newslog-hbn-1.png" width="728" height="90" alt="#">
                        </a>
                    </div>*@
                </div>
                <!-- .container -->

            </div>
            <!-- .nlg-header-alt -->

            <div class="nlg-menu-bar nlg-menu-bar-light nlg-mega-menu-light nlg-sub-menu-light nlg-hide-logo-ns">
                <div class="container">

                    <div class="nlg-header-brand">
                        <a href="@Url.HomePage()" rel="@appSetting.ApplicationName">
                            <span class="nlg-logo nlg-sticky-logo">
                                <img width="278" height="48" src="~/Content/images/logo-big-light.png" class="nlg-logo-img nlg-logo-img-light" alt="logo-big-light">
                                <img width="278" height="48" src="~/Content/images/logo-big-dark.png" class="nlg-logo-img nlg-logo-img-dark" alt="logo-big-dark">
                            </span>
                            <span class="nlg-logo nlg-mobile-logo">
                                <img width="278" height="48" src="~/Content/images/logo-big-light.png" class="nlg-logo-img nlg-logo-img-light" alt="logo-big-light">
                                <img width="278" height="48" src="~/Content/images/logo-big-dark.png" class="nlg-logo-img nlg-logo-img-dark" alt="logo-big-dark">
                            </span>
                        </a>
                    </div>
                    <!-- .nlg-header-brand -->
                    @Html.Action("Menu", "Home")

                    <ul class="nlg-actions">

                        <li class="nlg-action-search">
                            <button class="btn nlg-btn-search"><i class="fa fa-search"></i><i class="fa fa-times"></i></button>
                            <div class="nlg-search-form-wrap nlg-search-form-light">
                                <form role="search" class="search-form" method="get" action="#">
                                    <div class="input-group">
                                        <input type="text" name="s" class="form-control" autocomplete="off" placeholder="Search..." title="Search for:" value="">
                                        <span class="input-group-btn">
                                            <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                            <!-- .nlg-search-form-wrap -->
                        </li>

                        <li class="nlg-action-menu">
                            <button class="btn nlg-btn-menu"><i class="fa fa-navicon"></i></button>
                        </li>

                    </ul>
                    <!-- .nlg-actions -->

                </div>
                <!-- .container -->

            </div>
            <!-- .nlg-menu-bar -->

        </div>
        <!-- .nlg-header-wrap -->

    </header>
    <!-- .nlg-header -->

    <div class="nlg-sections-wrap">

        <div class="container">
            @RenderBody()
        </div>

    </div>
    <!-- .nlg-sections-wrapper -->
    @* Footer *@
    @Html.Action("Footer","Home")
    <div style="display:none">
    </div>



    <script type="text/javascript" src="~/Content/js/c2d81.js"></script>
    <script type="text/javascript" src="~/Content/js/0201f.js"></script>
    <script type="text/javascript" src="~/Content/js/devicepx-jetpack.js"></script>
    <script type="text/javascript" src="~/Content/js/a6b1d.js"></script>
    <script type="text/javascript" src="~/Content/js/3d1ee.js"></script>
    <script type="text/javascript" src="~/Content/js/gprofiles.js"></script>
    <script type="text/javascript" src="~/Content/js/wpgroho.js"></script>
    <script type="text/javascript" src="~/Content/js/retina.js"></script>
    <script type="text/javascript" src="~/Content/js/65c1b.js"></script>
    <script type="text/javascript" src="~/Content/js/28c3e.js"></script>
    <script type="text/javascript" src="~/Content/js/3d3e4.js"></script>
    <div class="nlg-mobile-panel">
        <div class="nlg-inner">

            <div class="nlg-panel-close">
                <button class="btn nlg-btn-panel-close"><i class="fa fa-times"></i></button>
            </div>
            <nav class="nlg-main-navigation">
                <ul id="menu-mobile-menu" class="nlg-nav-menu">
                    <li>
                        <a href="@Url.HomePage()">@Html.T("Global_Home")</a>                       
                    </li>
                    <li>
                        <a href="@Url.HostAction("Tattoo","Home")">@Html.T("RootCate_Tattoo")</a>
                    </li>
                    <li>
                        <a href="@Url.HostAction("Piercing","Home")">@Html.T("RootCate_Piercing")</a>
                    </li>
                    <li>
                        <a href="@Url.HostAction("Events","Home")" data-cat="28">@Html.T("RootCate_Event")</a>
                    </li>
                    <li id="menu-item-9">
                        <a href="#">@Html.T("RootCate_Image")</a>
                        <div class="nlg-links-menu nlg-menu-drop">
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">Artist Đăng Vinh</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Post Title On Image</a></li>
                                        <li><a href="#">Post Title Above Image</a></li>
                                        <li><a href="#">Post Title Under Image</a></li>
                                    </ul>
                                </li>

                                <li><a href="#">Audio Post</a></li>
                                <li><a href="#">Gallery Post</a></li>
                                <li><a href="#">Paginated Post</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="@Url.HostAction("Course","Home")">@Html.T("RootCate_Course")</a></li>
                    <li><a href="#">XAMTV</a></li>

                    <li>
                        <a href="@Url.HostAction("Intro","Home")">@Html.T("RootCate_Intro")</a>

                    </li>
                   
                </ul>
            </nav>
        </div>
        <!-- .nlg-inner -->
    </div>
    <!-- .nlg-mobile-panel -->
    <script type="text/javascript" src="~/Content/js/e-201720.js" async="" defer=""></script>
</body>
</html>