@model VnStyle.Services.Business.Models.ArticleDetailModel
@using Ricky.Infrastructure.Core;
@using VnStyle.Web.Infrastructure.Helpers;

@{
    var currentUrl = Url.CurrentUrl();
}
<div class="content-wrapper">
    <div class="col-xs-12 col-sm-12 col-md-8">

        
        <h2>@Model.HeadLine</h2>
        <hr />
        <div class="fb-like" data-href="@Model.ArticleUrl" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        <hr />
        <h5 style="font-weight:bold">@Model.Extract</h5>
        

        @foreach (var relatedArticles in Model.ListRelatedArticles)
        {


            <div>
                <img src="@Url.HostContent("~/Content/images/list-icon.jpg")"><a href="@Url.HostAction("Detail","Home",new { id = relatedArticles.Id, title = CommonHelper.FriendlyUrl(relatedArticles.HeadLine) })" style="color: #004370">@relatedArticles.HeadLine</a>
            </div>

        }


        <div>@Html.Raw(Model.Content)</div>

        <div class="article-section-1">
            <div class="row">
               @foreach (var relatedArticles in Model.ListRelatedArticles)
               {
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="article-overlay">
                            <a href="@Url.HostAction("Detail","Home",new { id = relatedArticles.Id, title = CommonHelper.FriendlyUrl(relatedArticles.HeadLine) })">

                                <figure class="article-overlay-item">
                                    @*<img src="@(article.UrlImage + "?h=180")" alt="Thumb" width="144" height="96" />*@
                                    <img src="@(relatedArticles.UrlImage + "?h=320")" width="144" height="96" alt="@relatedArticles.HeadLine" title="@relatedArticles.HeadLine">
                                </figure>
                                <div class="caption">
                                    @relatedArticles.HeadLine
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <hr />
        <div class="fb-comments" data-href="@Model.ArticleUrl" data-numposts="5"></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
        @Html.Action("SideBar1", "Home")
        @Html.Action("SideBar2", "Home")
    </div>

   


   
   

</div>

