@model VnStyle.Web.Models.Home.ArticleViewerModelView
@using Ricky.Infrastructure.Core.ObjectContainer
@using VnStyle.Services.Business
@using VnStyle.Services.Business.Settings
@using VnStyle.Web.Infrastructure.Helpers;
@*<div class="nlg-module-header nlg-has-tax-nav">
    <div class="nlg-module-title">
        <h2 class="nlg-title">@Html.T("RootCate_Course")</h2>
    </div>

</div>*@
@{
    var _settingService = EngineContext.Current.Resolve<ISettingService>();
    var appSetting = _settingService.LoadConfiguration<AppSetting>();

    ViewBag.Title = Model.Article.HeadLine;

    var pageTitle = appSetting.ApplicationName + " | " + ViewBag.Title;
}


<div class="row">
    @Html.Action("ArticleViewer", Model.Article)
</div>


@section metaTags{
    <meta property="fb:app_id" content="@appSetting.FbAppId" />
    <link rel="canonical" href="@Model.MetaTag.CurrentUrl" />
    <meta http-equiv="REFRESH" content="1800" />
    
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="@pageTitle">
    <meta itemprop="description" content="@Model.MetaTag.Description">
    <meta itemprop="image" content="@Model.MetaTag.Image">
    
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="@Model.MetaTag.Image">
    <meta name="twitter:site" content="@Url.BaseUrl()">
    <meta name="twitter:title" content="@pageTitle">
    <meta name="twitter:description" content="@Model.MetaTag.Description">
    
    <meta name="twitter:image:src" content="@Model.MetaTag.Image">
    
    <!-- Open Graph data -->
    <meta property="og:title" content="@pageTitle" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="@Model.MetaTag.CurrentUrl" />
    <meta property="og:image" content="@Model.MetaTag.Image" />
    <meta property="og:description" content="@Model.MetaTag.Description" />
    <meta property="og:site_name" content="@appSetting.ApplicationName" />
   
    <link rel="dns-prefetch" href="//www.google-analytics.com" />
    <link rel="dns-prefetch" href="//www.googletagmanager.com" />
    <link rel="dns-prefetch" href="http://b.scorecardresearch.com" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Vnexpress.net" />
    <meta name="description" content="@Model.MetaTag.Description">
    <meta name="keywords" content="@Model.MetaTag.Keywords">
    <meta name="tt_article_id" content="1000000" />
    <meta name="tt_page_type" content="site" />
    <meta name="tt_category_id" content="1000000" />
    <meta name="tt_site_id" content="1000000" />
    <!-- add meta for pvtt -->
    <!-- end meta for pvtt -->
    

    <meta name="copyright" content="Vnstyle Tattoo & Piercing" />
    <meta name="author" content="Vnstyle Tattoo & Piercing" />
    <meta name="dc.language" content="vi-VN" />
    <meta name="robots" content="index,follow" />
    <meta http-equiv="content-language" content="vi" />
    <meta name="geo.placename" content="Ho Chi Minh, Viet Nam" />
    <meta name="geo.region" content="VN-HCM" />
    <meta name="geo.position" content="10.796514,106.692959" />

    <meta name="ICBM" content="10.796514, 106.692959" />
    <meta name="revisit-after" content="days">
    <link rel="alternate" href="@Model.MetaTag.CurrentUrl" hreflang="vi-vn" />
    
}