@using Ricky.Infrastructure.Core.ObjectContainer
@using VnStyle.Services.Business.Settings
@using VnStyle.Web.Infrastructure.Helpers
@{
    var resourceService = EngineContext.Current.Resolve<VnStyle.Services.Business.IResourceService>();

    var languages = resourceService.GetLanguages().Select(p => new { p.Name, p.Code, p.IsDefault, Flag = string.Format("~/Content/images/flag/{0}.png", p.Code) }).ToList();

    var settingSetting = EngineContext.Current.Resolve<VnStyle.Services.Business.ISettingService>();
    var appSetting = settingSetting.LoadConfiguration<AppSetting>();

}
@using Ricky.Infrastructure.Core;

<footer class="container-fluid bg-4 text-center" style="background-color: black;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="footer-image">
                    <img class="icon-logo" src="@Url.HostContent("~/Content/images/logo-2.png")" style="width: 178px;" />

                </div>
                <div class="footer-description">
                    <span>NewsLog, News &amp; Magazine Theme. Discover new blogging standards with 6 months free support</span>
                </div>                              
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="footer-sidebar">
                    <div id="nav_menu-2" class="sidebar-widget widget_nav_menu">
                        <div class="footer-description"><h2 class="footer-menu">Menu</h2></div>
                        <div class="menu-footer-menu-1-container">
                            <ul id="menu-footer-menu-1" class="menu">

                                <li class="@Html.IsSelected(actions: "Index", controllers: "Home") footer-menu-item">
                                    <a class="footer-menu-item-text" href="@Url.HomePage()">@Html.T("Global_Home")</a>
                                </li>

                                <li class="@Html.IsSelected(actions: "Tattoo", controllers: "Home") footer-menu-item">
                                    <a class="footer-menu-item-text" href="@Url.HostAction("Tattoo","Home")">@Html.T("RootCate_Tattoo")</a>
                                </li>
                                <li class="@Html.IsSelected(actions: "Piercing", controllers: "Home") footer-menu-item">
                                    <a class="footer-menu-item-text" href="@Url.HostAction("Piercing","Home")">@Html.T("RootCate_Piercing")</a>
                                </li>
                                <li class="@Html.IsSelected(actions: "Events", controllers: "Home") footer-menu-item">
                                    <a class="footer-menu-item-text" href="@Url.HostAction("Events","Home")" data-cat="28">@Html.T("RootCate_Event")</a>
                                </li>


                                <li class="@Html.IsSelected(actions: "Course", controllers: "Home") footer-menu-item">
                                    <a class="footer-menu-item-text" href="@Url.HostAction("Course","Home")">@Html.T("RootCate_Course")</a>
                                </li>


                                <li class="@Html.IsSelected(actions: "Intro", controllers: "Home") footer-menu-item">
                                    <a class="footer-menu-item-text" href="@Url.HostAction("Intro","Home")">@Html.T("RootCate_Intro")</a>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6">
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1931483145677!2d106.69076494998791!3d10.796513992270105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528c118afbef9%3A0x8aec628fbb4e929f!2sVNStyle+Tattoo+%26+Piercing!5e0!3m2!1svi!2s!4v1507359931866" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>

        </div>
    </div>
</footer>