@model IList<VnStyle.Services.Business.Models.ArtistListingModel>
@using VnStyle.Web.Infrastructure.Helpers;

@using Ricky.Infrastructure.Core;
@*<div class="nlg-module nlg-module-grid-posts nlg-mm-posts">
    <div class="container">
        <div class="nlg-module-header">
            <div class="nlg-module-title">
                <h2 class="nlg-title">Artists</h2>              
            </div>
        </div>
        <div class="nlg-col-wrap nlg-col-3">           
            @Html.Action("GetImageArtistInMenu")
        </div>
    </div>
</div>
<ul class="sub-menu">
    @foreach(var name in Model)
    {
        <li><a href="@Url.HostAction("Images","Home",new { id = name.Id })">@name.Name</a></li>
    }
</ul>*@
<li>
    <div class="row">
        <div class="col-xs-12 col-md-3 col-lg-3 mega-artist">
            @foreach (var name in Model)
            {
                <a class="mega-artist-name" href="@Url.HostAction("Images","Home",new { id = name.Id , name = CommonHelper.FriendlyUrl(name.Name) })" title="@name.Name">@name.Name</a>
            }

        </div>
        
            @Html.Action("GetImageArtistInMenu")
        

       
    </div>
</li>