@model IList<VnStyle.Services.Business.Models.ArticleListingModel>
@using VnStyle.Web.Infrastructure.Helpers;
@using Ricky.Infrastructure.Core;



<div class="article-section-1">
    <div class="row">
        @foreach (var article in Model)
        {
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="article-overlay">
                    <a href="@Url.HostAction("Detail","Home",new { id = article.Id, title = CommonHelper.FriendlyUrl(article.HeadLine) })">
                        
                        <figure class="article-overlay-item">
                            @*<img src="@(article.UrlImage + "?h=180")" alt="Thumb" width="144" height="96" />*@
                            <img src="@(article.UrlImage + "?h=320")" width="144" height="96" alt="@article.HeadLine" title="@article.HeadLine">
                        </figure>
                        <div class="caption">
                            @article.HeadLine
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
