@model IList<VnStyle.Services.Business.Models.ArticleListingModel>
@using VnStyle.Web.Infrastructure.Helpers;
@using Ricky.Infrastructure.Core;
<div id="article-section-2" class="article-overlay article-section-2">
    @foreach (var article in Model)
    {
        <div class="media">
            <div class="media-left media-middle">
                <a title="@article.HeadLine" href="@Url.HostAction("Detail","Home",new { id = article.Id, title = CommonHelper.FriendlyUrl(article.HeadLine) })">
                    <figure class="article-overlay-item">
                        <img src="@(article.UrlImage + "?h=150")" alt="Thumb" width="144" height="96" />
                    </figure>

                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <a title="@article.HeadLine" href="@Url.HostAction("Detail", "Home", new {id = article.Id, title = CommonHelper.FriendlyUrl(article.HeadLine)})">@article.HeadLine</a>
                </h4>
            </div>
        </div>
    }

</div>


