@model IEnumerable<VnStyle.Services.Business.Models.ArtistListingModel>
@using VnStyle.Web.Infrastructure.Helpers;


<div class="nlg-module nlg-module-grid-posts nlg-mm-posts">
    <div class="container">
        <div class="nlg-module-header">
            <div class="nlg-module-title">
                <h2 class="nlg-title">Artists</h2>
                @*<div class="nlg-actions"><a href="#">See All</a></div>*@
            </div>
        </div>
        <div class="nlg-col-wrap nlg-col-3">
            @foreach (var artist in Model)
            {
                <div class="nlg-col">
                    <article class="nlg-entry nlg-entry-vertical nlg-entry-has-featured-media post-459 post type-post status-publish format-standard has-post-thumbnail hentry category-self-help tag-music tag-self-help" style="padding-top: 0px;">

                        <figure class="nlg-featured-media">

                            <a href="@Url.HostAction("Images","Home",new { id = artist.Id })">
                                <img width="350" height="231" src="@artist.UrlImage">
                            </a>

                            <div class="nlg-entry-flags">
                            </div>

                        </figure>

                        <div class="nlg-entry-body">
                            <header class="nlg-entry-header">
                                <h3 class="nlg-entry-title"><a href="@Url.HostAction("Images","Home",new { id = artist.Id })">@artist.Name</a></h3>
                            </header>
                        </div>
                    </article>
                </div>
            }
            
        </div>


    </div>

</div>
<ul class="sub-menu">
    @foreach(var name in Model)
    {
        <li><a href="@Url.HostAction("Images","Home",new { id = name.Id })">@name.Name</a></li>
    }
</ul>