@model VnStyle.Services.Business.Models.ArticleListingModel
@{
    ViewBag.Title = "Courses";
}

@using VnStyle.Web.Infrastructure.Helpers;
@using Ricky.Infrastructure.Core;


@*@if (Model != null)
{*@
    @*<div id="outer-wrapper" class="index home">
       
        
        <div class="featured row" id="featured">
            <div class="featured-sec section" id="featured-sec" name="Featured Posts" style="width: 100%">
                <div class="widget HTML" data-version="1" id="HTML2">
                    
                    <div class="widget-content">
                        <div cass="feat-wrap">


                            <div class="feat-align feat-column1">
                                <div class="hot-item item1">
                                    <div class="featured-inner">
                                        <a href="@Url.HostAction("Detail","Home",new { id = Model.Id, title = CommonHelper.FriendlyUrl(Model.HeadLine) })"></a>
                                        <a class="rcp-thumb" href="@Url.HostAction("Detail","Home",new { id = Model.Id, title = CommonHelper.FriendlyUrl(Model.HeadLine) })"
                                           style="background:url(@Model.UrlImage) no-repeat center center;background-size: cover"><span class="featured-overlay"></span></a>
                                        <div class="post-panel">
                                            <h3 class="rcp-title"><a href="@Url.HostAction("Detail","Home",new { id = Model.Id, title = CommonHelper.FriendlyUrl(Model.HeadLine) })">@Model.HeadLine</a></h3>
                                            <div class="featured-meta"><span class="featured-date">@Model.PushlishDate</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="feat-align feat-column4">
                                @Html.Action("HomePageLastFeaturedArticles")
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>

    </div>*@  
    @*<div class="col-xs-7 col-sm-7 col-md-7">     
        <img class="img-fluid" src="@Model.UrlImage" alt="">
    </div>

          
    <div class="col-xs-5 col-sm-5 col-md-5 " >
        @Html.Action("HomePageLastFeaturedArticles")
    </div>*@
@*}*@
<div class="row row-featured">
    <div class="col-xs-12 col-sm-7 col-md-7" style="padding: 0;">
        <a class="link-img" href="@Url.HostAction("Detail","Home",new { id = Model.Id, title = CommonHelper.FriendlyUrl(Model.HeadLine) })">
            
            <img class="w3-hover-shadow"src="@Model.UrlImage" alt="@Model.HeadLine">
            <div class="w3-xlarge w3-display-bottomleft w3-padding">
                <div class="span-pushlish"><span>@Model.PushlishDate</span></div>
                <div class="span-title"><span>@Model.HeadLine</span></div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 " style="padding: 0">
        @Html.Action("HomePageLastFeaturedArticles")

    </div>

</div>