@model IEnumerable<VnStyle.Services.Business.Models.ImagesByArtist>
@using VnStyle.Web.Infrastructure.Helpers;
@using Ricky.Infrastructure.Core;

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8">
        <div class="nlg-breadcrumb-wrap container">
            <div class="nlg-breadcrumb">
                <a href="@Url.HomePage()">@Html.T("Global_Home")</a>
                <i class="fa fa-angle-right"></i>
                <div>
                    <a href=":javascript" title="@Html.T("RootCate_Image")" itemprop="url">
                        <span itemprop="#">@Html.T("RootCate_Image")</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="baguetteBoxTwo ">
            <div class="gallery">
                @foreach (var img in Model)
                {
                    <a href="@img.UrlImage" data-caption="Hình xăm của tác giả @img.Name">
                        <img src="@img.UrlImage" title="@img.Name" style="width:100%;padding: 7px 0;"/>                       
                    </a>
                }

            </div>

        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 hidden-xs hidden-sm">
        @Html.Action("SideBar1", "Home")
    </div>
</div>

    @*<script src="~/Content/js/baguetteBox.js" async></script>
    <script src="~/Content/js/highlight.min.js" async></script>
    <script>
        window.onload = function () {
            baguetteBox.run('.gallery', {
                captions: true,       // true|false - Hiển thị tiêu đề ảnh
                buttons: 'auto',      // 'auto'|true|false - Hiển thị nút điều hướng
                async: false,         // true|false - Tải file không đồng bộ
                preload: 2,           // [number] - Tải trước (preload) bao nhiêu ảnh kể từ ảnh hiện tại
                animation: 'slideIn'  // 'slideIn'|'fadeIn'|false - Loại chuyển động

            });
            if (typeof oldIE === 'undefined' && Object.keys) {
                hljs.initHighlighting();
            }
        }
    </script>*@
