@using Ricky.Infrastructure.Core.ObjectContainer
@using VnStyle.Services.Business.Settings
@using VnStyle.Web.Infrastructure.Helpers
@{
    var resourceService = EngineContext.Current.Resolve<VnStyle.Services.Business.IResourceService>();

    var languages = resourceService.GetLanguages().Select(p => new { p.Name, p.Code, p.IsDefault, Flag = $"~/Content/images/flag/{p.Code}.png" }).ToList();

    var settingSetting = EngineContext.Current.Resolve<VnStyle.Services.Business.ISettingService>();
    var appSetting = settingSetting.LoadConfiguration<AppSetting>();

}
<div class="nlg-sections-wrap">
    <script>
				var nlg_module_b4a0d8d0_dde3_settings = { "layout": "grid_posts", "title": "", "taxonomy_navigation": "false", "custom_html": "", "gp_posts_layout": "vertical_5_col", "fp_posts_layout": "style_d", "gp_pagination_type": "none", "fp_container_layout": "none", "posts_per_page": 5, "posts_offset": 0, "post_types": ["post", "page"], "post_taxonomies": ["1_category", "3_category", "17_category", "24_category", "28_category", "38_category", "70_category", "97_category", "149_category"], "post_tags": "", "post_ids": "222,224,207,457,150", "excluded_post_ids": ",", "orderby": "post_ids", "order": "desc", "meta_data": { "4": "rating" }, "excerpt_length": 50, "prevent_duplication": "true", "class_name": "", "id": "b4a0d8d0-dde3", "sidebar_position": "none", "position": "", "description": "", "gp_columns": "5", "gp_direction": "vertical", "gp_meta_data": { "4": "rating" }, "gp_excerpt_length": 50, "image_size": "nlg-210-139" };
    </script>
    <div id="nlg-module-b4a0d8d0-dde3" class="nlg-module nlg-module-grid-posts">
        <div class="container">

            @Html.Action("GetArticlesSession1", "Home")


        </div>

    </div>
    <hr />
    <div id="nlg-section-787907bc-c061" class="nlg-section nlg-hidden-xs nlg-hidden-sm nlg-visible-md nlg-visible-lg">

        <div id="nlg-module-b4a0d8d0-dde3" class="nlg-module nlg-module-grid-posts">
            <div class="container">

            </div>
        </div>
    </div>
    <!-- .nlg-section -->

    <div class="nlg-section nlg-visible-xs nlg-visible-sm nlg-visible-md nlg-visible-lg">
        <div class="nlg-module nlg-module-featured-posts nlg-module-fp-a nlg-module-fp-full-width">
            <div class="container">
                <!-- .nlg-col-wrap -->
                @Html.Action("HomePageFeaturedArticles", "Home")
            </div>
            <!-- .container -->
        </div>
        <!-- .nlg-module -->
    </div>
    <hr />

    <div id="nlg-section-0ac380f8-b506" class="nlg-section nlg-section-has-sidebar nlg-section-sidebar-right nlg-visible-xs nlg-visible-sm nlg-visible-md nlg-visible-lg">
        <div class="container">
            <div class="nlg-main" role="main">

                @*New article *@
                @Html.Action("GetNewArticles", "Home")
            </div>
            <!-- .nlg-main -->

            @Html.Action("SideBar1", "Home")
            
        </div>
        
    </div>
    <!-- .nlg-section -->
    <hr />
    <div class="row">
        <div id="nlg-section-7e848e14-c380" class="nlg-section nlg-visible-xs nlg-visible-sm nlg-visible-md nlg-visible-lg">
            <div id="nlg-module-1dd3328e-c893" class="nlg-module nlg-module-featured-posts nlg-module-fp-b nlg-module-fp-full-width">
                <div class="container">
                    @Html.Action("GetAllArtist")
                </div>
            </div>
        </div>
        <!-- .nlg-section -->
        <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-8">
                <div id="nlg-section-d196e136-45a4" class="nlg-section nlg-section-has-sidebar nlg-section-sidebar-right nlg-visible-xs nlg-visible-sm nlg-visible-md nlg-visible-lg">
                    <div class="container">
                        <div class="nlg-main" role="main">
                            @Html.Action("GetVideos", "Home")
                        </div>
                        <!-- .nlg-sidebar -->
                    </div>
                    <!-- .container -->
                </div>

            </div>
            <!-- .nlg-section -->
            <div class="col-xs-12 col-md-4 col-lg-4" style= "margin-top:25px">
                @Html.Action("SideBar2", "Home")
            </div>
        </div>      
    </div>
</div>
