@model VnStyle.Web.Models.Home.IndexModelView

    @using Ricky.Infrastructure.Core.ObjectContainer
    @using VnStyle.Services.Business.Settings
    @using VnStyle.Web.Infrastructure.Helpers
    @{
        var resourceService = EngineContext.Current.Resolve<VnStyle.Services.Business.IResourceService>();

    var languages = resourceService.GetLanguages().Select(p => new { p.Name, p.Code, p.IsDefault, Flag = string.Format("~/Content/images/flag/{0}.png", p.Code) }).ToList();

        var settingSetting = EngineContext.Current.Resolve<VnStyle.Services.Business.ISettingService>();
        var appSetting = settingSetting.LoadConfiguration<AppSetting>();

        ViewBag.Title = "Trang chủ";

        var currentUrl = Url.CurrentUrl();
        var pageTitle = appSetting.ApplicationName + " | " + ViewBag.Title;
    }

    <div class="container">
        <div style="">
            @Html.Action("GetArticlesSession1", "Home")
        </div>


        <div class="row">
            @Html.Action("HomePageFeaturedArticles", "Home")
        </div>


        <div class="row" style="margin-top: 30px">
            <div class="col-xs-12 col-sm-12 col-md-8">
                @Html.Action("GetNewArticles", "Home")
            </div>
            <div class="col-md-4 hidden-xs hidden-sm" style="border-left: 4px solid #B9519F;">
                @Html.Action("SideBar1", "Home")
                @Html.Action("SideBar2", "Home")
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-12">
                @Html.Action("GetAllArtist")
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                @Html.Action("GetVideos", "Home")
            </div>
        </div>
    </div>


    @section metaTags{

        <meta property="fb:app_id" content="@appSetting.FbAppId" />
        <link rel="canonical" href="@Model.MetaTag.CurrentUrl" />
        <meta http-equiv="REFRESH" content="1800" />

        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name" content="@pageTitle">
        <meta itemprop="description" content="@Model.MetaTag.Description">
        <meta itemprop="image" content="@Model.MetaTag.Image">

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="@Model.MetaTag.Image">
        <meta name="twitter:site" content="@Url.BaseUrl()">
        <meta name="twitter:title" content="@pageTitle">
        <meta name="twitter:description" content="@Model.MetaTag.Description">

        <meta name="twitter:image:src" content="@Model.MetaTag.Image">

        <!-- Open Graph data -->
        <meta property="og:title" content="@pageTitle" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="@Model.MetaTag.CurrentUrl" />
        <meta property="og:image" content="@Model.MetaTag.Image" />
        <meta property="og:description" content="@Model.MetaTag.Description" />
        <meta property="og:site_name" content="@appSetting.ApplicationName" />

        <link rel="dns-prefetch" href="//www.google-analytics.com" />
        <link rel="dns-prefetch" href="//www.googletagmanager.com" />
        <link rel="dns-prefetch" href="http://b.scorecardresearch.com" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-title" content="Vnexpress.net" />
        <meta name="description" content="@Model.MetaTag.Description">
        <meta name="keywords" content="@Model.MetaTag.Keywords">
        <meta name="tt_article_id" content="1000000" />
        <meta name="tt_page_type" content="site" />
        <meta name="tt_category_id" content="1000000" />
        <meta name="tt_site_id" content="1000000" />
        <!-- add meta for pvtt -->
        <!-- end meta for pvtt -->


        <meta name="copyright" content="Vnstyle Tattoo & Piercing" />
        <meta name="author" content="Vnstyle Tattoo & Piercing" />
        <meta name="dc.language" content="vi-VN" />
        <meta name="robots" content="index,follow" />
        <meta http-equiv="content-language" content="vi" />
        <meta name="geo.placename" content="Ho Chi Minh, Viet Nam" />
        <meta name="geo.region" content="VN-HCM" />
        <meta name="geo.position" content="10.796514,106.692959" />

        <meta name="ICBM" content="10.796514, 106.692959" />
        <meta name="revisit-after" content="days">
        <link rel="alternate" href="@Model.MetaTag.CurrentUrl" hreflang="vi-vn" />

    }


    @section bottom{
        <script>
            window.articlePage = 1;
            $("#more-article").click(function () {
                var url = "@Url.Action("ArticleMore", "Home", new {page = "__page__"})";
                window.articlePage = window.articlePage + 1;
                url = url.replace("__page__", window.articlePage);
                $.ajax({
                    url: url,
                    beforeSend: function (xhr) {
                        //console.log("load more article");
                    }
                })
                    .done(function (data) {
                        $("#new-article-list").append(data);
                    });
            });

        </script>
        <script>
            window.videoPage = 1;
            $("#more-video").click(function () {
                var url = "@Url.Action("VideoMore", "Home", new {page = "__page__"})";
                window.videoPage = window.videoPage + 1;
                url = url.replace("__page__", window.videoPage);
                $.ajax({
                    url: url,
                    beforeSend: function (xhr) {
                        //console.log("load more article");
                    }
                })
                    .done(function (data) {
                        $("#new-video-list").append(data);
                    });
            });

            $(document).ready(function () {
                $('.owl-carousel').owlCarousel({
                    loop: true,
                    margin: 10,
                    nav: true,
                    autoplay: true,
                    autoplayTimeout: 3000,
                    autoplayHoverPause: true,
                    responsive: {
                        0: {
                            items: 1
                        },
                        600: {
                            items: 2
                        },
                        1000: {
                            items: 3
                        }
                    }
                })
            });

        </script>
    }