@using VnStyle.Web.Infrastructure.Helpers;
@using Ricky.Infrastructure.Core;
<nav class="nlg-main-navigation">
    <ul id="menu-main-menu" class="nlg-nav-menu">

        
            
        <li class="@Html.IsSelected(actions: "Index", controllers: "Home")">
            <a href="@Url.HomePage()">@Html.T("Global_Home")</a>
        </li>
        
        <li class="@Html.IsSelected(actions: "Tattoo", controllers: "Home")">
            <a href="@Url.HostAction("Tattoo","Home")">@Html.T("RootCate_Tattoo")</a>
        </li>
        <li class="@Html.IsSelected(actions: "Piercing", controllers: "Home")">
            <a href="@Url.HostAction("Piercing","Home")">@Html.T("RootCate_Piercing")</a>
        </li>        
        <li class="@Html.IsSelected(actions: "Events", controllers: "Home")">
            <a href="@Url.HostAction("Events","Home")" data-cat="28">@Html.T("RootCate_Event")</a>
        </li>
       
       
        <li class="@Html.IsSelected(actions: "Course", controllers: "Home")">
            <a href="@Url.HostAction("Course","Home")">@Html.T("RootCate_Course")</a>
        </li>
        <li class="@Html.IsSelected(actions: "XamTv", controllers: "Home")"><a href="#">XAMTV</a></li>
       
          <li class="@Html.IsSelected(actions: "Intro", controllers: "Home")">
            <a href="@Url.HostAction("Intro","Home")">@Html.T("RootCate_Intro")</a>

        </li>
        <li id="menu-item-511" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-511 menu-item-mega-menu">
            <a href="#" data-cat="28">@Html.T("RootCate_Image")</a>
            <div class="nlg-mega-menu nlg-menu-drop">
                @Html.Action("GetArtistInMenu", "Home")                
            </div>
        </li>
        <li class="nlg-more menu-item-has-children nlg-hide"><a href="http://demo.aggressivemotions.com/newslog/#" class="nlg-link btn">More<i class="fa fa-angle-down"></i></a></li>
    </ul>
</nav>