@using VnStyle.Web.Infrastructure.Helpers;
@using Ricky.Infrastructure.Core;

<nav>
   
        <ul>
            <li class="@Html.IsSelected(actions: "Index", controllers: "Home")">
                <a href="@Url.HomePage()">@Html.T("Global_Home")</a>
            </li>

            <li class="@Html.IsSelected(actions: "Tattoo", controllers: "Home")">
                <a href="@Url.HostAction("Tattoo","Home")">@Html.T("RootCate_Tattoo")</a>
            </li>
            <li class="@Html.IsSelected(actions: "Piercing", controllers: "Home")">
                <a href="@Url.HostAction("Piercing","Home")">@Html.T("RootCate_Piercing")</a>
            </li>
            <li class="@Html.IsSelected(actions: "Events", controllers: "Home")">
                <a href="@Url.HostAction("Events","Home")" data-cat="28">@Html.T("RootCate_Event")</a>
            </li>


            <li class="@Html.IsSelected(actions: "Course", controllers: "Home")">
                <a href="@Url.HostAction("Course","Home")">@Html.T("RootCate_Course")</a>
            </li>


            <li class="@Html.IsSelected(actions: "Intro", controllers: "Home")">
                <a href="@Url.HostAction("Intro","Home")">@Html.T("RootCate_Intro")</a>

            </li>          
            <li class="@Html.IsSelected(actions: "Images", controllers: "Home") hidden-xs hidden-sm">
                <a href="#">@Html.T("RootCate_Image")</a>
                <ul class="mega-menu-image">
                   @Html.Action("GetArtistInMenu", "Home")       
                </ul>              
            </li>

            
        </ul>
    
    
</nav>