@using Ricky.Infrastructure.Core
@using VnStyle.Web.Infrastructure.Helpers
@model Ricky.Infrastructure.Core.IPagedList<VnStyle.Services.Business.Models.ArticleListingModel>


@foreach (var article in Model)
{
    <div class="media">
        <div class="media-left media-middle">
            <a title="@article.HeadLine" href="@Url.HostAction("Detail","Home",new { id = article.Id, title = CommonHelper.FriendlyUrl(article.HeadLine) })">
                @*<img class="media-object" src="@(article.UrlImage + "?h=267")" alt="@article.HeadLine">*@
                
                <figure class="article-overlay-item">
                    <img src="@(article.UrlImage + "?h=320")" alt="Thumb" width="267" height="178" />
                    <div class="figcaption"><div>XEM BÀI VIẾT</div></div>
                </figure>

            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                <a title="@article.HeadLine" href="@Url.HostAction("Detail", "Home", new {id = article.Id, title = CommonHelper.FriendlyUrl(article.HeadLine)})">@article.HeadLine</a>
            </h4>
            <p>@article.Extract</p>
        </div>
    </div>
}
