@model Ricky.Infrastructure.Core.IPagedList<VnStyle.Services.Business.Models.ArticleListingModel>
@{
    ViewBag.Title = Html.T("RootCate_Piercing");
}
@using VnStyle.Web.Infrastructure.Helpers;

@using Ricky.Infrastructure.Core;

<div class="container">
    <div class="row row-breadcrumb ">
        <ol itemscope="" itemtype="http://schema.org/BreadcrumbList" class="breadcrumb text-upercase fs15 roboto-bold">
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <h1>
                    <a itemprop="item" href="@Url.HostAction("Tattoo","Home")" class="bg-red text-upercase"><span itemprop="name">@Html.T("RootCate_Piercing")</span></a>

                </h1>
            </li>
        </ol>
    </div>
    <div class="row row-article">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 left1">

            @foreach (var article in Model)
            {
                <div class="cate-item">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                            <a title="@article.HeadLine" href="@Url.HostAction("Detail","Home",new { id = article.Id, title = CommonHelper.FriendlyUrl(article.HeadLine) })">


                                <figure class="article-overlay-item">
                                    <img src="@Url.HostContent(article.UrlImage)?h=320" alt="Thumb" width="267" height="178">
                                    <div class="figcaption"><div>XEM BÀI VIẾT</div></div>
                                </figure>

                            </a>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                            <span class="mt-8">
                                <span class="text-upercase fs12 bg-red mr6 mr10">
                                    <a title="@Html.T("RootCate_Piecing")" href="@Url.HostAction("Piecing","Home")" class="whiteColor">@Html.T("RootCate_Piercing")</a>
                                </span>
                                <span class="right fs12 red">
                                   @DateTimeHelper.GetDateTimeText(article.PushlishDate)
                                </span>
                            </span>
                            <h3 class="fs16 roboto-bold mt0"><a title="@article.HeadLine" href="@Url.HostAction("Detail","Home",new { id = article.Id, title = CommonHelper.FriendlyUrl(article.HeadLine) })">@article.HeadLine</a></h3>
                            <p class="fs14 lh20">@article.HeadLine</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <hr />
            }
        </div>
        <div class="col-lg-4 col-md-4 hidden-xs hidden-sm">
            @Html.Action("SideBar1", "Home")
            @Html.Action("SideBar2", "Home")
        </div>

    </div>
</div>
